* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: 1px solid white;
}

.copyright {
    display: none;
    justify-content: center;
}

h1 {
    color: yellowgreen;
}

.wrapper {
    max-width: 1440px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
}

.buttBlock {
    margin-left: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.button, .language, .temp,  .voice {
    height: 44px;
    background-color: rgb(104, 99, 99);
    opacity: 0.8;
    border: 1px solid white;
    color: white;
}

.language {
    text-transform: uppercase;
}

.button-changeBackground, .temp, .voice, .searchSubmit{
    border: 1px solid white;
    width: 44px;
}

.button-changeBackground {
    background-color:rgb(104, 99, 99);
}

.searchBlock {
    display: flex;
    flex-direction: row;
    margin-right: 6.5%;
    width: 45%;
    min-width: 320px;
    max-width: 450px;
}

.searchForm {
    display: flex;
    height: 44px;
    flex-grow: 1;
    ::-webkit-input-placeholder {color: white;}
}

.searchField, .searchSubmit {
    height: 100%;
    outline: 0;
    background-color:rgb(104, 99, 99);
    border: 1px solid white;
    opacity: 0.8;
    color: white;
}

.searchField {
    flex-grow: 1;
    height: 40px;
}

.weatherWrapper {
    width: 45%;
    min-width: 320px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6.5%;
    color: white;
    background-color: rgb(104, 99, 99);
    opacity: 0.8;
    padding: 15px;
    border-radius: 5px;
}

.weather {
    width: 100%;
}

.weather-location {
    font-size: 2rem;
    font-weight: 600;
}

.dayMonth {
    font-size: 1.5rem;
}

.clock {
    margin-left: 10px;
}

.dateTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 10px;
}

.weatherProp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherPropTemp {
    width: 50%;
    font-size: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherPropDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weatherdescription {
    padding: 0;
}

.li-item {
    list-style-type: none;
    font-size: 1.2rem;
}

.forecast {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.locationWrapper {
    width: 45%;
    min-width: 320px;
    max-width: 450px;
    margin-right: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(104, 99, 99);
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
}

.map {
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-height: 300px;
    max-height: 350px;
}

.gps {
    margin-top: 30px;
    text-align: right;
}

.active {
    background-color: orange;
}

@media (max-width: 1180px) {
    .buttBlock {
        margin-left: 2%;
    }

    .searchBlock {
        margin-right: 2%;
    }

    .weatherWrapper {
        margin-left: 2%;
    }

    .weatherPropTemp {
        font-size: 6rem; 
    }

    .locationWrapper {
        margin-right: 2%;
    }
    
}
@media (max-width: 810px) {
    .weatherWrapper {
        width: 49%;
        margin-left: 0;
    }
    .locationWrapper {
        width: 49%;
        margin-right: 0;
    }
    .buttBlock {
        margin-left: 0;
    }

    .searchBlock {
        margin-right: 0;
        width: 49%;
    }

    .weatherPropTemp {
        width: 40%;
        font-size: 5rem; 
    }
}    
@media (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .weatherWrapper {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    .locationWrapper {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    .gps {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .longitude {       
        margin-left: 5px;
    }

    .control {
        flex-direction: column;
        min-width: 320px;
        max-width: 450px;
        margin: 0 auto;
    }

    .buttBlock {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button, .language, .temp {
        flex-grow: 1;
    }

    .searchBlock {
        display: flex;
        margin: 0 auto;
        width: 100%;
        ::-webkit-input-placeholder {color: white;}
    }

    .searchForm {
        flex-grow: 3;
    }

    .searchField {
       flex-grow: 2;
    }

    .searchSubmit {
        flex-grow: 1;
    }
    .voice {
        flex-grow: 1;
    }
}
@media (max-width: 350px) {
    .gps {
        font-size: 0.95rem;
    }
}