$border: red solid 1px;

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    // border: $border;
}

body {
    // min-height: 100vh;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    // border: $border;
}

button {
    border: 1px solid white;
}

.copyright {
    display: none;
    justify-content: center;
}

h1 {
    color: yellowgreen;
}

.wrapper {
    max-width: 1440px;
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    border: $border;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // height: 64px;
}

.buttBlock {
    margin-left: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.button, .language, .temp,  .voice {
    height: 44px;
    background-color: rgb(114, 110, 110);
    opacity: 0.5;
    border: 1px solid white;
    color: white;
}

.button-changeBackground, .temp, .voice, .searchSubmit{
    border: 1px solid white;
    width: 44px;
}

.button-changeBackground {
    background-color: rgb(114, 110, 110);
}

.searchBlock {
    display: flex;
    flex-direction: row;
    margin-right: 6.5%;
    width: 45%;
    min-width: 320px;
    max-width: 450px;
    border: $border;
}

.searchForm {
    display: flex;
    height: 44px;
    flex-grow: 1;
    ::-webkit-input-placeholder {color: white;}
}

.searchField, .searchSubmit {
    height: 100%;
    outline: 0;
    background-color: rgb(114, 110, 110);
    border: 1px solid white;
    opacity: 0.5;
    color: white;
}

.searchField {
    flex-grow: 1;
}

.weatherWrapper {
    width: 45%;
    min-width: 320px;
    max-width: 450px;
    // border: $border;
    margin-left: 6.5%;
}

.weather {
    width: 100%;
    // border: $border;
}

.dateTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
    // border: $border;
}

.weatherProp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherPropTemp {
    width: 50%;
    font-size: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherPropDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// .weatherPropDetailsImage {
//     font-size: 2rem;
// }

.weatherdescription {
    padding: 0;
}

.li-item {
    list-style-type: none;
    font-size: 1.2rem;
}

.forecast {
    width: 100%;
    // margin-left: 6.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-grow: 1;
    // border: $border;
    text-transform: capitalize;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.locationWrapper {
    width: 45%;
    min-width: 320px;
    max-width: 450px;
    // border: $border;
    margin-right: 6.5%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    border: $border;
}

.map {
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-height: 300px;
    max-height: 350px;
    background-color: green;
}

.gps {
    margin-top: 30px;
    text-align: right;
}

.active {
    background-color: orange;
}

@media (max-width: 1180px) {
    body {
        background-color: yellowgreen;
    }

    .buttBlock {
        margin-left: 2%;
    }

    .searchBlock {
        margin-right: 2%;
    }

    .weatherWrapper {
        // width: 45%;
        // border: $border;
        margin-left: 2%;
    }

    .weatherPropTemp {
        font-size: 6rem; 
    }

    .locationWrapper {
        // width: 45%;
        // border: $border;
        margin-right: 2%;
    }
    
}
@media (max-width: 810px) {
    .weatherWrapper {
        width: 49%;
        // border: $border;
        margin-left: 0;
    }
    .locationWrapper {
        width: 49%;
        // border: $border;
        margin-right: 0;
    }
    .buttBlock {
        margin-left: 0;
    }

    .searchBlock {
        margin-right: 0;
        width: 49%;
    }

    .weatherPropTemp {
        width: 40%;
        font-size: 5rem; 
    }
}    
@media (max-width: 700px) {
    body {
        background-color: yellow;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // border: $border;
    }
    
    .weatherWrapper {
        width: 100%;
        // border: $border;
        margin: 0 auto;
    }

    .locationWrapper {
        width: 100%;
        // border: $border;
        margin: 0 auto;
    }

    .gps {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        // text-align: right;
    }

    .longitude {       
        margin-left: 5px;
    }

    .control {
        flex-direction: column;
        min-width: 320px;
        max-width: 450px;
        margin: 0 auto;
    }

    .buttBlock {
        width: 100%;
        // min-width: 190px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button, .language, .temp {
        // height: 32px;
        flex-grow: 1;
    }

    .searchBlock {
        display: flex;
        margin: 0 auto;
        width: 100%;
        // height: 44px;
        ::-webkit-input-placeholder {color: white;}
    }

    .searchForm {
        flex-grow: 3;
    }

    .searchField {
       flex-grow: 2;
    }

    .searchSubmit {
        flex-grow: 1;
    }
    .voice {
        flex-grow: 1;
    }
}
@media (max-width: 350px) {
    .gps {
        font-size: 0.95rem;
    }
}
p, h1, h2, h3, ul, .gps, .tommorowTemp, .tommorow1Temp, .tommorow2Temp {
    background-color: rgb(209, 113, 49);
}