.animation-tool {
  display: flex;// flex-direction: row;  margin-right: 100px;
  padding-right: 50px;
}

#canvasAnimation {
  width: 200px;
  height: 200px;

  border: dotted 1px white;

  image-rendering: pixelated;
}

.animationProp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animationSlider {
  width: 60%;
}

.animationSlider input[type=range] {
  width: 100%;
  margin-top: 16px;

  border-radius: 10px;

  -webkit-appearance: none;
}

.animationSlider input[type=range]::-webkit-slider-runnable-track {
  background: #424241;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.animationSlider input[type=range]::-webkit-slider-thumb {
  width: 15px;
  height: 15px;

  background: white;
  border-radius: 10px;
  cursor: pointer;

  -webkit-appearance: none;
}

.animation-frequency {
  color: #ffffff;
}
