$font-family: "Carrois Gothic SC", "Arial", sans-serif;
$buttonbackgroundColor: #3a3a3a;
$border: 1px white solid;
$border-active: 2px #f9d80c solid;
$border-hover: 2px #888888 solid;

.button {
  cursor: pointer;
}

.tools {
  position: relative;
}

.tools-button,
.colors-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: $buttonbackgroundColor;
  border: $border;
  border: $border;
  &:hover {
    background-color: #888888;
  }
}

.button-sign {
  position: absolute;
  right: 20px;

  flex-direction: row;
  align-items: center;
  height: 24px;

  color: black;

  background-color: yellow;
  border: none;
  opacity: 1;
}

#sign-in {
  display: none;
}

#sign-out {
  display: none;
}

.fa.fa-sign-out {
  width: 20px;

  font-size: 16px;
  color: red;
}

.user-ico {
  width: 20px;
  height: 20px;
  margin-right: 10px;

  background-size: 100% 100%;
  border-radius: 50%;
}

.exit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;

  font-size: 1rem;
}

.button-palette {
  width: 32px;
  height: 32px;
}

.active {
  border: $border-active;
}

.pencilSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;

  color: white;

  background-color: $buttonbackgroundColor;
  &:hover {
    background-color: #888888;
  }
}

#pencil0 {
  width: 6px;
  height: 6px;

  background-color: white;
}

#pencil1 {
  width: 8px;
  height: 8px;

  background-color: white;
}

#pencil2 {
  width: 10px;
  height: 10px;

  background-color: white;
}

#pencil3 {
  width: 12px;
  height: 12px;

  background-color: white;
}

.pencilSize-active {
  border: $border-active;
  #pencilSize0 {
    background-color: #f9d80c solid !important;
  }
}
.primaryColorBox {
  position: relative;
}
.secondaryColorBox {
  position: relative;
  bottom: 25px;
  left: 20px;
}

#primaryColorButton {
  position: relative;
  z-index: 1;

  opacity: 1;
}

#secondaryColorButton {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

#keyboard {
  width: 60px;
  height: 50px;

  font-size: 2.5rem;
  color: yellow;

  background: none;
  background-position: center center;
  border: none;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

#addNewFrame {
  width: 100%;

  color: #ffffff;

  background-color: #1d1d1d;
  border: 2px #3a3a3a solid;
  &:hover {
    border: solid 2px yellow;
  }
}
