.pencil {
    cursor: url("../assets/images/cursor/pen.png"), auto;
}

.picker {
    cursor: url("../assets/images/cursor/dropper.png"), auto;
}

.fillBucket {
    cursor: url("../assets/images/cursor/paint-bucket.png"), auto;
}

.eraser {
    cursor: url("../assets/images/cursor/eraser.png"), auto;
}

.stroke {
    cursor: url("../assets/images/cursor/stroke.png"), auto;
}