.frameContainer {
    width: 138px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.frame {
    width: 138px;
    height: 138px;
    display: flex;
    border: 2px #3A3A3A solid;
    color: #FFFFFF;
    margin: 5px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        .frameMove, .frameDelete, .copyFrame, .frameNumber {
            display: flex;
        }
    }
}

.frameMove, .frameDelete, .copyFrame, .frameNumber {
    width: 32px;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.frameNumber {
    left: 0;
    top: 0;
} 

.frameMove {
    left: 0;
    bottom: 0;
} 

.frameDelete {
    right: 0;
    top: 0;
} 

.copyFrame {
    right: 0;
    bottom: 0;
}

.visibleFrame {
    background-color: yellow;
    color: black;
    font-weight: bold;
}
.hiddenFrame {
    background-color:  #3A3A3A;
    color: white;
}

.frameActive {
    border: 2px #F9D80C solid;
}
