.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 138px;
}

.frame {
  position: relative;

  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 138px;
  margin: 5px 0;

  color: #ffffff;

  border: 2px #3a3a3a solid;
  &:hover {
    .frameMove,
    .frameDelete,
    .copyFrame,
    .frameNumber {
      display: flex;
    }
  }
}

.frameMove,
.frameDelete,
.copyFrame,
.frameNumber {
  position: absolute;

  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.frameNumber {
  top: 0;
  left: 0;
} 

.frameMove {
  bottom: 0;
  left: 0;
} 

.frameDelete {
  top: 0;
  right: 0;
} 

.copyFrame {
  right: 0;
  bottom: 0;
}

.visibleFrame {
  font-weight: bold;
  color: black;

  background-color: yellow;
}
.hiddenFrame {
  color: white;

  background-color: #3a3a3a;
}

.frameActive {
  border: 2px #f9d80c solid;
}

.onlyFrame {
  &:hover {
    .frameMove,
    .frameDelete {
      display: none;
    }
  }
}
