$font-family: 'Carrois Gothic SC', 'Arial', sans-serif;
$border: 1px white solid;
$border-focus: 2px white solid;

* {
    box-sizing: border-box;
    font-family: $font-family;
    // border: $border;
}

.header {
    height: 40px;
    width: 100vw;
    border: $border;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 20px;
}

.header-link {
    text-decoration: none;
    color: white;
    font-family: $font-family;
    &--text {
        font-weight: 300;
    }
}

.header-link--text {
    display: none;
}

.header-link--img {
    height: 24px;
}

.fas-header {
    margin: 0;
}

.header-title {
    color: white;
    font-family: $font-family;
    font-weight: 100;
    align-self: center;
}

body {
    background-color: #1D1D1D;
}

.main  {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toolbox {
    display: flex;
    flex-direction: column;
}

.toolbox-tools,  .colors, .paint {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
}

.toolbox-tools  {
    margin: 0 0 0 50px; 
    display: grid;
    grid-template-columns: 40px 40px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}

.toolbox-colors {
    margin: 50px 0 50px 50px; 
    position: relative;
}

.main-paint {
    margin-right: 50px;
}

#canvas {
    border: dotted 1px white;
    image-rendering: pixelated;
    min-width: 512px;
    background-image: url('../assets/images/canvasbackground.jpg');
   
}

input[type=range] {
    -webkit-appearance: none;
    /* margin: 43px 213px; */
    margin-top: 43px;
    // margin-left: 213px;
    width: 100%;
    border-radius: 10px;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: #424241;
    border-radius: 10px;
    border: none;
  }
  
  .slider {
    display: flex;
    width: 100%;
  }
  
  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 197px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
  }

.main-shortcuts {
    position: relative;
} 

.keyboard-shortcuts {
    position: fixed;
    top: 100px;
}

.paint-button--logo {
    font-weight: 900;
}

.footer {
    padding-left: 50px;
}

// .footer-author--name {
//     margin-left: 50px;
//     color: white;
//     font-size: 0.7rem;
//     font-weight: 100;
//     font-family: $font-family;
// }

#primaryColor,  #secondaryColor{
    display: none;
}

.additional-tool {
    display: flex;
    flex-direction: row;
    // border: red solid 1px;
    margin-right: 100px;
}

.searching-form {
    display: flex;
}
 
.search-field  {
    background-color: #1D1D1D;
    color: white;
    font-family: $font-family;
    border: $border;
    height: 60px;
    // margin-right: -4px;
}

.search-button, .grayscale-button  {
    margin-right: 30px;
    width: 62px;
    border-top: $border;
    border-right: $border;
    border-bottom: $border;
    &:hover {
        background-color: red;
    }
}

.grayscale-button {
    margin: 0;
    width: 62px;
    border: $border;
    &:hover {
        background-color: red;
    }
}

.pencilProp {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px;
    grid-template-rows: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
    width: 85px;
    justify-content: space-between;

}

.hide {
    display: none;
}


