* {
  box-sizing: border-box;

  font-family: "Montserrat", "Arial", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: 1px solid white;
}

.copyright {
  display: none;
  justify-content: center;
}

h1 {
  color: yellowgreen;
}

.wrapper {
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 30px;
}

.buttBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6.5%;
}

.button,
.language,
.temp,
.voice {
  height: 44px;

  color: white;

  background-color: rgb(104, 99, 99);
  border: 1px solid white;
  opacity: 0.8;
}

.language {
  text-transform: uppercase;

  border-right: none;
}

.button-changeBackground,
.temp,
.voice,
.searchSubmit {
  width: 44px;

  border: 1px solid white;
}

.button-changeBackground {
  background-color: rgb(104, 99, 99);
  border-right: none;
}

.temp-celsium {
  border-right: none;
}

.searchBlock {
  display: flex;
  flex-direction: row;
  width: 45%;
  min-width: 320px;
  max-width: 450px;
  margin-right: 6.5%;
}

.searchForm {
  display: flex;
  flex-grow: 1;
  height: 44px;

  ::-webkit-input-placeholder {
    color: white;
  }
}

.searchField,
.searchSubmit {
  height: 100%;

  color: white;

  background-color: rgb(104, 99, 99);
  border: 1px solid white;
  border-right: none;
  outline: 0;
  opacity: 0.8;
}

.searchField {
  flex-grow: 1;
  height: 40px;
}

.weatherWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  min-width: 320px;
  max-width: 450px;
  margin-left: 6.5%;
  padding: 15px;

  color: white;

  background-color: rgb(104, 99, 99);
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0.8;
}

.weather {
  width: 100%;
}

.weather-location {
  font-weight: 600;
  font-size: 2rem;
}

.dayMonth {
  font-size: 1.5rem;
}

.clock {
  margin-left: 10px;
}

.dateTime {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 10px;

  font-size: 1.5rem;
  text-transform: capitalize;
}

.weatherProp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weatherPropTemp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  font-size: 6.5rem;
}

.weatherPropDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weatherdescription {
  padding: 0;
}

.li-item {
  list-style-type: none;
  font-size: 1.2rem;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  font-size: 1.2rem;
  text-transform: capitalize;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  min-width: 320px;
  max-width: 450px;
  margin-right: 6.5%;
  padding: 15px;

  font-size: 1.2rem;
  color: white;

  background-color: rgb(104, 99, 99);
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0.8;
}

.map {
  width: 100%;
  max-width: 450px;
  height: 100%;
  min-height: 300px;
  max-height: 350px;
}

.gps {
  margin-top: 30px;

  text-align: right;
}

.active {
  background-color: orange;
}

@media (max-width: 1180px) {
  .buttBlock {
    margin-left: 2%;
  }

  .searchBlock {
    margin-right: 2%;
  }

  .weatherWrapper {
    margin-left: 2%;
  }

  .weatherPropTemp {
    font-size: 6rem;
  }

  .locationWrapper {
    margin-right: 2%;
  }
}

@media (max-width: 810px) {
  .weatherWrapper {
    width: 49%;
    margin-left: 0;
  }

  .locationWrapper {
    width: 49%;
    margin-right: 0;
  }

  .buttBlock {
    margin-left: 0;
  }

  .searchBlock {
    width: 49%;
    margin-right: 0;
  }

  .weatherPropTemp {
    width: 40%;

    font-size: 5rem;
  }
}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button-changeBackground,
  .language,
  .temp {
    border-bottom: none;
  }

  .weatherWrapper {
    width: 100%;
    margin: 0 auto;

    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }

  .locationWrapper {
    width: 100%;
    margin: 0 auto;

    border-top: none;
    border-radius: 0;
  }

  .gps {
    display: flex;
    flex-direction: row;
    margin-top: 0;
  }

  .longitude {
    margin-left: 5px;
  }

  .control {
    flex-direction: column;
    min-width: 320px;
    max-width: 450px;
    margin: 0 auto;
  }

  .buttBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .button,
  .language,
  .temp {
    flex-grow: 1;
  }

  .searchBlock {
    display: flex;
    width: 100%;
    margin: 0 auto;

    ::-webkit-input-placeholder {
      color: white;
    }
  }

  .searchForm {
    flex-grow: 3;
  }

  .searchField {
    flex-grow: 2;
  }

  .searchSubmit {
    flex-grow: 1;
  }

  .voice {
    flex-grow: 1;
  }
}

@media (max-width: 350px) {
  .gps {
    font-size: 0.95rem;
  }
}
