.tools-tip, .color-tip {
    position: absolute;
    font-size: 0.8rem;
    color: white;
    width: 120px;
    background-color: black;
    text-align: center;
    z-index: 5;
    visibility: hidden;
    
}

.tools-tip {
    top: 12px;
    left: 40px;
}

.color-tip {
    top: 5px;
    left: 40px;
}

.tools-tip::after,
.chooseColorTip::after,
.pencilTip::after,
.eraserTip::after,
.strokeTip::after,
.color-tip::after {  // левый носик
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    left: -7px;   
    border-color: transparent black transparent transparent;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    height: 0px;
    width: 0px;
  }

#fillBucket:hover + .tools-tip, 
#chooseColor:hover + .tools-tip,
#pencil:hover + .tools-tip,
#eraser:hover + .tools-tip,
#stroke:hover + .tools-tip {
    visibility: visible;
}

.pencilPropTip  {
    position: absolute;
    color: white;
    width: 120px;
    background-color: black;
    text-align: center;
    z-index: 5;
    visibility: hidden;
    top: 120px;
    left: 36px;
}

.pencilPropTip::after { // нижний носик
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.pencilProp:hover > .pencilPropTip {
    visibility: visible;
}

#primaryColorButton:hover + .color-tip,
#secondaryColorButton:hover + .color-tip {
    visibility: visible;
}