.tools-tip,
.color-tip,
.pencilPropTip {
  position: absolute;
  z-index: 5;

  width: 150px;

  font-size: 0.8rem;
  text-align: center;
  color: white;

  background-color: black;
  visibility: hidden;
}

.tools-tip {
  top: 12px;
  left: 40px;
}

.tool-tip--hotkey {
  color: yellow;
  text-transform: uppercase;
}

.color-tip {
  top: 5px;
  left: 40px;
}

.tools-tip::after,
.pickerTip::after,
.pencilTip::after,
.eraserTip::after,
.strokeTip::after,
.color-tip::after,
.pencilPropTip::after {
  // левый носик
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: -7px;

  width: 0;
  height: 0;

  border-width: 7px 7px 7px 0;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

#fillBucket:hover + .tools-tip,
#magicBucket:hover + .tools-tip,
#picker:hover + .tools-tip,
#pencil:hover + .tools-tip,
#eraser:hover + .tools-tip,
#stroke:hover + .tools-tip {
  visibility: visible;
}

.pencilProp {
  position: relative;
}

.pencilPropTip {
  top: 3px;
  left: 92px;
}

.pencilProp:hover > .pencilPropTip {
  visibility: visible;
}

#primaryColorButton:hover + .color-tip,
#secondaryColorButton:hover + .color-tip {
  visibility: visible;
}
