$border: red solid 1px;

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.buttBlock {
    margin-left: 6.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .language, .temp {
    height: 44px;
    background-color: rgb(114, 110, 110);
    opacity: 0.5;
    border-radius: 10%;
    color: white;
}

.button-changeBackground, .temp {
    width: 44px;
}

.button-changeBackground {
    background: url('/fancy-weather/src/change-img.png');
    background-size: cover;
    background-color: rgb(114, 110, 110);
}

.searchForm {
    display: flex;
    margin-right: 6.5%;
    height: 44px;
    ::-webkit-input-placeholder {color: white;}
}

.searchField, .searchSubmit {
    height: 100%;
    outline: 0;
    background-color: rgb(114, 110, 110);
    border: $border;
    opacity: 0.5;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: $border;
}

.weatherWrapper {
    width: 30%;
    min-width: 320px;
    max-width: 450px;
    border: $border;
    margin-left: 6.5%;
}

.weather {
    width: 100%;
    // border: $border;
}

.dateTime {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    // border: $border;
}

.weatherProp{
    display: flex;
    flex-direction: row;
}

.weatherPropTemp {
    width: 50%;
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherPropDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// .weatherPropDetailsImage {
//     font-size: 2rem;
// }

.weatherdescription {
    padding: 0;
}

.li-item {
    list-style-type: none;
    font-size: 1.2rem;
}

.forecast {
    width: 100%;
    // margin-left: 6.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-grow: 1;
    // border: $border;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.locationWrapper {
    width: 30%;
    min-width: 320px;
    max-width: 450px;
    border: $border;
    margin-right: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map {
    width: 250px;
    height: 250px;
    background-color: green;
}

.gps {
    margin-top: 30px;
}

@media (max-width: 960px) {
    body {
        background-color: yellowgreen;
    }

    .buttBlock {
        margin-left: 2%;
    }

    .searchForm {
        margin-right: 2%;
    }

    .weatherWrapper {
        // width: 45%;
        border: $border;
        margin-left: 2%;
    }

    .locationWrapper {
        // width: 45%;
        border: $border;
        margin-right: 2%;
    }
    
}

@media (max-width: 670px) {
    body {
        background-color: yellow;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: $border;
    }
    
    .weatherWrapper {
        width: 100%;
        border: $border;
        margin: 0 auto;
    }

    .locationWrapper {
        width: 100%;
        border: $border;
        margin: 0 auto;
    }
    
}

@media (max-width: 670px) {
    .control {
        flex-direction: column;
        min-width: 320px;
        max-width: 450px;
        margin: 0 auto;
    }

    .buttBlock {
        width: 100%;
        // min-width: 190px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button, .language, .temp {
        height: 32px;
        flex-grow: 1;
    }

    .searchForm {
        display: flex;
        margin: 0 auto;
        width: 100%;
        // height: 44px;
        ::-webkit-input-placeholder {color: white;}
    }

    .searchField {
       flex-grow: 1;
    }

    .searchSubmit {
        flex-grow: 1;
    }
}